extends layouts/_main.pug

block headInfo
	- var siteTitle = 'Seno\'s web starter kit'
	- var siteDescription = 'A web starter kit for Front End Developer'

block content
	include partials/_header.pug
	p paragraph body
	img(src="images/adidas-collection.jpg", alt="Test image")